In [42]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

import pickle
import json

In [4]:
df=pd.read_csv('medical_insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [7]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [9]:
df['sex'].replace({'male':1,'female':0},inplace=True)

In [10]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [11]:
df['smoker'].replace({'yes':0,'no':1},inplace=True)

In [14]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [58]:
project_data={'sex':{'male':1,'female':0},
             'smoker':{'yes':0,'no':1},
             'columns':list(x.columns)}
project_data

{'sex': {'male': 1, 'female': 0},
 'smoker': {'yes': 0, 'no': 1},
 'columns': ['age',
  'sex',
  'bmi',
  'children',
  'smoker',
  'region_northeast',
  'region_northwest',
  'region_southeast',
  'region_southwest']}

In [15]:
df=pd.get_dummies(df,columns=['region'])
df

      age  sex     bmi  children  ...  region_northeast  region_northwest  region_southeast  region_southwest
0      19    0  27.900         0  ...                 0                 0                 0                 1
1      18    1  33.770         1  ...                 0                 0                 1                 0
2      28    1  33.000         3  ...                 0                 0                 1                 0
3      33    1  22.705         0  ...                 0                 1                 0                 0
4      32    1  28.880         0  ...                 0                 1                 0                 0
...   ...  ...     ...       ...  ...               ...               ...               ...               ...
1333   50    1  30.970         3  ...                 0                 1                 0                 0
1334   18    0  31.920         0  ...                 1                 0                 0                 0
1335   18    0  36.850         0  ...                 0                 0                 1                 0
1336   21    0  25.800         0  ...                 0                 0                 0                 1
1337   61    0  29.070         0  ...                 0                 1                 0                 0

[1338 rows x 10 columns]

In [23]:
def outlier_check(col_name):
    sns.boxplot(x=df[col_name])
    
    q1=df[col_name].quantile(0.25)
    q2=df[col_name].quantile(0.50)
    q3=df[col_name].quantile(0.75)
    median=df[col_name].median()
    iqr=q3-q1

    upper_tail=q3+1.5*iqr
    lower_tail=q1-1.5*iqr

    print("q1:",q1)
    print("q2:",q2)
    print("q3:",q3)
    print('Median:',median)

    print("Upper_tail:",upper_tail)
    print("lower_tail:",lower_tail)
    
    print("The outlier above upper tail are:",df[[col_name]].loc[df[col_name]> upper_tail])
    print("The outlier above lower tail are:",df[[col_name]].loc[df[col_name]< lower_tail])
    
    return upper_tail
# outlier_check('Taxi_dist')

In [30]:
x=df.drop('charges',axis=1)
y=df['charges']
x

      age  sex     bmi  children  smoker  region_northeast  region_northwest  region_southeast  region_southwest
0      19    0  27.900         0       0                 0                 0                 0                 1
1      18    1  33.770         1       1                 0                 0                 1                 0
2      28    1  33.000         3       1                 0                 0                 1                 0
3      33    1  22.705         0       1                 0                 1                 0                 0
4      32    1  28.880         0       1                 0                 1                 0                 0
...   ...  ...     ...       ...     ...               ...               ...               ...               ...
1333   50    1  30.970         3       1                 0                 1                 0                 0
1334   18    0  31.920         0       1                 1                 0                 0                 0
1335   18    0  36.850         0       1                 0                 0                 1                 0
1336   21    0  25.800         0       1                 0                 0                 0                 1
1337   61    0  29.070         0       0                 0                 1                 0                 0

[1338 rows x 9 columns]

In [31]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=25)

In [38]:
linear_reg_model=LinearRegression()
linear_reg_model

LinearRegression()

In [39]:
linear_reg_model.fit(x_train,y_train)

LinearRegression()

# Testing data

In [40]:
y_pred=linear_reg_model.predict(x_test)  #testing results

mse=mean_squared_error(y_test,y_pred)
print("MSE:",mse)

rmse=np.sqrt(mse)
print("RMSE:",rmse)

mae=mean_absolute_error(y_test,y_pred)
print("MAE:",mae)

r_squared=r2_score(y_test,y_pred)
print("R2:",r_squared)

MSE: 34633295.929781206
RMSE: 5885.006026316473
MAE: 4283.190084376349
R2: 0.7547037664450407

In [41]:
y_pred_train=linear_reg_model.predict(x_train)  #training results

mse=mean_squared_error(y_train,y_pred_train)
print("MSE:",mse)

rmse=np.sqrt(mse)
print("RMSE:",rmse)

mae=mean_absolute_error(y_train,y_pred_train)
print("MAE:",mae)

r_squared=r2_score(y_train,y_pred_train)
print("R2:",r_squared)

MSE: 37103631.535598874
RMSE: 6091.27503365255
MAE: 4193.745575505876
R2: 0.7490732999835242

In [43]:
with open("Linear_regression_model.pkl",'wb') as f:
    pickle.dump(linear_reg_model,f)

In [59]:
with open("project_data.json",'w') as f:
    json.dump(project_data,f)